<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Dataset stuff boi</title>
  </head>
  <body>
    <h3>Joseph and Derek</h3>
    <p>Thomas Ghita</p>
    <select id="cars" name="cars">
        <option value="name">Name</option>
        <option value="mass">Mass</option>
        <option value="year">Year</option>
        <option value="coordinates">Coordinates</option>
    </select>
  </body>
  <footer>NOTE: for coordinates, please input in the form &lt;latitude,longitude&gt;</footer>
</html>
